<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    [mode]="percentage >= 0 ? 'determinate' : 'indeterminate'"
    [value]="percentage"
    diameter="50"
    >
  </mat-progress-spinner>
</div>
<div>
  <div class="cloudapp-actions">
    <button mat-flat-button color="secondary" [routerLink]="['']">{{'Cancel' | translate}}</button>
    <button mat-flat-button color="primary" (click)="update()" [disabled]="loading || results">{{'Form.Update' | translate:{count: this.ids.length} }}</button>
  </div>
  <h1 translate>Form.Title</h1>
  <div *ngIf="data">
    <p>{{'Form.Intro' | translate:{count: this.ids.length} }}</p>
    <ul>
      <li *ngFor="let record of data">{{record.title}}</li>
    </ul>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Form.Results.Details' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{data | json}}</pre>
    </mat-expansion-panel>
  </div>
</div>
<div *ngIf="results" class="results">
  <div>
    <p *ngIf="results.successCount>0" translate [translateParams]="{num: results.successCount}">Form.Results.Success</p>
    <p *ngIf="results.failureCount>0" translate [translateParams]="{num: results.failureCount}" style="color: red">Form.Results.Failure</p>
  </div>
  <button mat-flat-button routerLink="/" color="accent">{{'OK' | translate}}</button>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'Form.Results.Details' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let result of results.details">
        <span *ngIf="isAdlibError(result); else success">{{ 'Form.FailureMessage' | translate:{mmsId: result.data?.mmsId} }}: {{result.error.error || result.error.message }}</span>
        <ng-template #success><span>{{ 'Form.SuccessMessage' | translate:{mmsId: result.mmsId, priref: result.priref} }}</span></ng-template>
      </li>
    </ul>
  </mat-expansion-panel>
</div>