<div *ngIf="entityCount == 0; else noEntities" >
  <div class="cloudapp-actions">
    <button mat-flat-button color="secondary" [disabled]="selectedEntities.length == 0" (click)="clear()">{{'Main.Clear' | translate:{count: selectedEntities.length} }}</button>
    <button mat-flat-button color="primary" [disabled]="selectedEntities.length == 0" (click)="update()">{{'Main.Update' | translate:{count: selectedEntities.length} }}</button>
  </div>
  <p translate>Main.Intro</p>
  <eca-select-entities #selectEntities 
    [(selected)]="selectedEntities"
    [lineNumbers]="true">
    (count)="entityCount=$event
  </eca-select-entities>
</div>
<ng-template #noEntities>
  <p translate>Main.NoRecords</p>
</ng-template>